/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	color: #242424;
	font-family: Montserrat;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------Обёртка-------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}
/*-------------Ограничивающий контейнер-------------*/
._container	{
	max-width: 1307px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

/*-------------Шапка-------------*/
.header {	
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: rgba(0,0,0,0.6);
	
		&__container {
			display: flex;
			padding: 0px 15px;
			margin: 0 auto;
			box-sizing: content-box;
			max-width: 1810px;
			min-height: 137px;
			align-items: center;
			justify-content: space-between;
		}

		&__logo {
			
		}

		&__menu {
		}
}

.menu {
	padding: 5px 0;

		&__list {
			flex-wrap: wrap;
			display: flex;
		}

		&__item {
			font-size: 18px;
			line-height: 1.2;
			&:not(:last-child) {
				margin-right: 50px;
			}
		}

		&__link {
			color: #ffffff;
			&:hover {
				color: #39b9ef;
			}
		}
}

@media (max-width: 769px) {
	.menu__item:not(:last-child) {
		margin-right: 25px;
	}
}
@media (max-width: 426px) {
	.menu__item {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.menu__list {
		flex-direction:column;
	}
}

/*-------------Page-------------*/
.page {
	/* background-image: url(/img/main/layers.jpg);
	background-size: cover; */
	flex: 1 1 auto;
	&__main-block {
		background-image: url(/img/main/layers.jpg);
		background-size: cover;
		// margin-top: 428px;
		padding: 428px 0 303px;
	}
	&__services {
		background-image: url(/img/services/services_bg.svg);
		
	}
}

/*-------------Подвал-------------*/
.footer {

}

/*-------------Main-block-------------*/
.main-block {


	&__container {
	}

	&__body {
		text-align: center;
	}

	&__title {
		font-size: 72px;
		line-height: 1.2;
		font-weight: 700;
		color: #2ebaee;
		span {
			color: #ffffff;
		}
	}

	&__text {
		margin-top: 21px;
		font-size: 24px;
		line-height: 1.2;
		color: #ffffff;
	}

	&__button {
		margin-top: 89px;
		width: 216px;
		height: 51px;
		background-color: #2ebaee;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		color: #ffffff;
		border-radius: 50px;
	}
}

@media (max-width: 769px) {
	.page {
		&__main-block {
			// margin: 200px 0;
		}
	}
	.main-block {
		&__title {
			font-size: 50px;
		}
		&__text	{
			font-size: 16px;
		}
	}
}

//Services
.services {

	&__container {
		text-align: center;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		padding-top: 20px;
	}

	&__column {
		padding: 0px 15px;
		flex: 0 1 25%;
	}

	&__item {
		height: 100%;
		box-shadow: 0px 13px 19px rgba($color: #000000, $alpha: 0.7);
		padding: 15px;		
	}

	&__title {
		text-align: center;
		font-size: 48px;
		line-height: 1.2;
		color: #242424;
		padding: 78px 0 158px 0;
	}

	&__button {
		margin: 82px 0;
		width: 151px;
		height: 44px;
		background-color: #2ebaee;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		color: #ffffff;
		border-radius: 50px;
	}
}

.item-service {

	&__icon {
		img {
			width: 75px;
			height: 75px;
		}
		
	}

	&__title {
		font-size: 24px;
		line-height: 1.2;
		color: #242424;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: #878787;
	}

	&> *:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 1330px) {
	.services {
		&__column {
			flex: 0 1 50%;
			margin: 0px 0px 20px 0px;
			padding: 0px 10px;
		}
	}
}
@media (max-width: 769px) {
	.services {
		&__title {
			padding: 78px 0;
		}
		&__column {
			flex: 0 1 100%;
			margin: 0px 0px 20px 0px;
			padding: 0px 5px;
		}
		&__button {
			margin: 40px 0;
		}
	}
	.item-service {
		&__text {
			font-size: 16px;
		}
	}
}